.periodic-square {
    border: 3px solid white;
    width: 60px;
    height: 70px;
    text-align: center;
    font-size: 1.5em;
    position: relative;
    padding-top: .4em;
    font-weight: bold;
}

.periodic-square-number {
    position: absolute;
    top: .5em;
    right: .1em;
    line-height: 0;
    font-size: .45em;
}

.inputerror {
    border: red !important;
    border-width: 1px !important;
    border-style: solid !important;
}

#msg-success, #msg-error, #msg-processing {
    box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.125);
    font-weight: bold;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
}

#msg-error {
    color: #ed786a;
}
